* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* .main {
    background-image: url(../images/gallery-img-2.jpeg);
    height: 100vh;

} */

.mainHome {
    background-image: url(../images/gallery-img-4.jpeg);
    height: 100vh;
}